html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  width: 250px;
  height: 250px;
  background: green;
  border-radius: 100%;
}
