html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seconds,
#minutes,
#hours,
#empty {
  border-radius: 100%;
  position: absolute;
}
#hours {
  width: 350px;
  height: 350px;
}
#minutes {
  width: 300px;
  height: 300px;
}
#seconds {
  width: 250px;
  height: 250px;
}
#empty {
  width: 200px;
  height: 200px;
  background: #fff;
}

#container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
